@{
    ViewData["Title"] = "Login";
}
<div>
    <table>
        <tr>
            <th>
                Medicine Name
            </th>
            <th>
                Demand Count
            </th>
        </tr>
        
    </table>
    
</div>
